body {
  background-color: #E1ABFC;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
